# Database credentials
MOODLE_DB_ROOT_PASSWORD=replace_with_strong_root_password
MOODLE_DB_USER=bn_moodle
MOODLE_DB_PASSWORD=replace_with_strong_db_password
MOODLE_DB_NAME=bitnami_moodle

# Moodle admin bootstrap user
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=replace_with_strong_admin_password
MOODLE_ADMIN_EMAIL=admin@cet.iitp.ac.in
MOODLE_SITE_NAME=CET IITP Moodle
MOODLE_HOST=cet.iitp.ac.in
MOODLE_BASE_URL=https://cet.iitp.ac.in/moodle
MOODLE_HTTP_PORT=8080

# Advanced options
MOODLE_SKIP_BOOTSTRAP=no
BITNAMI_DEBUG=false
